@charset "utf-8";
/* CSS Document */

body{
	margin: 0 auto;
	padding: 0;
	background-color: #B5B6B6
}

header{
	height: 100px;
	width: auto;
}

header img {
	width: 80px;
    margin-top: 10px;
	margin-left: 5%;
	padding: 0px;
	vertical-align: bottom;
	position: absolute;
}

*,*:before, *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.menu {
	display: block;
	overflow: hidden;
	width: 60px;
	height: 60px;
	margin: 30px 20px;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
	border: 3px solid transparent;
	border-radius: 50%;
	background-color: transparent;
	float: right;
}
.menu div.menubar {
	width: 30px;
	margin: 17px auto;
}
.menu div.menubar .bar {
	display: block;
	width: 100%;
	height: 5px;
	margin-top: 3px;
	border-radius: 2px;
	background-color: #FFFFFF;
}
.menu ul {
	display: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
	-webkit-transition: all 0.5s ease;
	        transition: all 0.5s ease;
	text-align: center;
	opacity: 0;
}
.menu ul li {
	display: inline-block;
}
.menu ul li a {
	display: inline-block;
	padding: 0.7em 0.5em;
	-webkit-transition: all 0.3s ease-in;
	        transition: all 0.3s ease-in;
	text-decoration: none;
	color: #FFFFFF;
	border-bottom: 4px solid transparent;
	height: 56px;
	line-height: 2em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
}
.menu ul li a:hover {
	color: #FFFFFF;
	background-color: #B5B6B6;
}
.menu ul li a:target {
	border-bottom-color: #B5B6B6;
}
/* クリックした時の動き */
#cp_navimenuid {
	display: none;
}
#cp_navimenuid:checked ~ .menu {
	width: 70%;
	height: 60px;
	border: 3px solid #FFFFFF;
	border-radius: 5px;
	background-color: transparent;
}
#cp_navimenuid:checked ~ .menu > ul {
	display: block;
	opacity: 1;
}
#cp_navimenuid:checked ~ .menu > .menubar {
	display: none;
}

h1{
	font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
	font-size: 30px;
	border-bottom: 2px solid #FFFCFC;
	margin: 3% 5%;
}

h1 span{
	font-size: 20px;
}
.contents img{
	margin: 2% 5%;
	width: 39%
}
.contents p{
	margin-top: 30px;
	text-align: center;
	font-size: 12px;
	font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
	background-color:#FFFFFF;
	padding: 30px 0;
}
.contents span{
	font-weight: bold;
}

h2{
	margin: 5% 5% 0 5%;
}
.news p{
	margin: 0 5%;
}

.detail{
	margin: 2% 5%;
}
h3{
	font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
	font-size: 20px;
	border-bottom: 2px solid #FFFCFC;
}
h4{
	font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
	padding: 0;
	margin: 5% 0 0 0;
}
.detail p{
	font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
	padding: 0;
	margin: 1%;
}
.detail span{
	width: 100%;
	text-align: center;
	font-size: 12px;
	font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
	background-color:#FFFFFF;
}
.corich img{
	width: 70%;
	height: 70%;
	margiin: 2% 5%;
}
.next{
	margin: 0 33%;
	}

.btn2 a{
	background-color: #659CCC;
	color: #FFFFFF;
	color: #B5B6B6;
	text-decoration: none;
	padding: 1%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
}
.btn2 a:hover{
	opacity: 0.6;
}

footer{
	text-align: center;
	background-color: #FFFFFF;
}
