@charset "utf-8";
/* CSS Document */

body{
	background-color: #ECECEC;
}
header{
	height: 100px;
}
.logo img{
	width: 10%;
	position: absolute;
	overflow: hidden;
	margin: 0 30% 0 37%;
}
.logo a:hover{
	opacity: 0.5;
}

.souzoulogo img{
	width: 8.5%;
	position: relative;
	overflow: hidden;
	margin: 1% 25% 0 53%;
}
.souzoulogo a:hover{
	opaacity:0.5;
}


h1{
	color: #000000;
	font-size: 3vw;
	font-family: 'Yu Mincho';
	border-bottom: 2px solid #000000;
	margin-top: 150px;
	margin-left: 10px;
}
.main img{
	margin: 5% 10%;
}
.next{
	margin: 0 35%;
	
	}

.btn a{
	background-color: #FFFFFF;
	color: #B5B6B6;
	text-decoration: none;
	font-size: 20px;
	padding: 2%;
	margin: 5%;
	float: left;
	font-family: 'Yu Mincho';
}
.btn a:hover{
	opacity: 0.6;
}

/*携帯画面*/

@media screen and (max-width:700px){
	
header{
	height: 50px;
}
.logo img{
	width: 20%;
	position: absolute;
	overflow: hidden;
	margin: 0 30% 0 30%;
}
.logo a:hover{
	opacity: 0.5;
}

.souzoulogo img{
	width: 17%;
	position: relative;
	overflow: hidden;
	margin: 1% 25% 0 53%;
}
.souzoulogo a:hover{
	opaacity:0.5;
}

h1{
	color: #7F7F7F;
	font-size: 3.5vw;
	font-family: 'Yu Mincho';
	border-bottom: 2px solid #7F7F7F;
}
.main img{
	width: 95%;
	height: 95%;
	margin: 5% 2.5%
}
.next{
	margin: 0 20%;
	
	}
.btn a{
	background-color: #FFFFFF;
	color:　#000000;
	text-decoration: none;
	font-size: 3vw;
	padding: 3%;
	margin: 5% 5% 10% 5%;
	float: left;
	font-family: 'Yu Mincho';
}
.btn a:hover{
	opacity: 0.6;
}

footer{
	height: 50px;
}
